#myconfiguration
SortingAlgorithm/Debug
SortingAlgorithm/*.sln
SortingAlgorithm/*.db
SortingAlgorithm/*.opendb
SortingAlgorithm/*/Debug
SortingAlgorithm/*.vs

#sub
SortingAlgorithm/*/*.vcxproj
SortingAlgorithm/*/*.filters
!SortingAlgorithm/*/*.h
!SortingAlgorithm/*/*.cpp
!SortingAlgorithm/*/*.md
