#myconfiguration
SortingAlgorithm/Debug
SortingAlgorithm/*.sln
SortingAlgorithm/*.db
SortingAlgorithm/*.opendb
SortingAlgorithm/*/Debug
SortingAlgorithm/*.vs

#sortsub(sort子文件夹)
SortingAlgorithm/*/*.vcxproj
SortingAlgorithm/*/*.filters
!SortingAlgorithm/*/*.h
!SortingAlgorithm/*/*.cpp
!SortingAlgorithm/*/*.md

#Linked-list
Linked-list/Debug
Linked-list/*.sln
Linked-list/*.db
Linked-list/*.opendb
Linked-list/*.vs


